<div>
    <a href="{{ path('create_project_category') }}" class="btn btn-sm btn-default"> New Category</a>
    <a href="{{ path('create_project') }}" class="btn btn-sm btn-default"> New Project</a>

</div>